source /boot/grub/config.cfg
# Live boot
menuentry "NextRedOS Live" --hotkey=l {
	linux	@KERNEL_LIVE@ boot=live quiet splash apparmor=1 security=apparmor findiso=${iso_path}
	initrd	@INITRD_LIVE@
}
menuentry "NextRedOS Live (modalita sicura)" {
	linux	@KERNEL_LIVE@ boot=live components memtest noapic noapm nodma nomce nosmp nosplash vga=788
	initrd	@INITRD_LIVE@
}
# Installer (if any)
if @ENABLE_INSTALL_MENU@; then
source	/boot/grub/install_start.cfg
submenu 'Opzioni installazione avanzate ...' --hotkey=a {
	source /boot/grub/theme.cfg
	source	/boot/grub/install.cfg
}
fi
submenu 'Utilita...' --hotkey=u {
	source /boot/grub/theme.cfg
	if [ "${grub_platform}" = "efi" ]; then
		menuentry "Impostazioni UEFI Firmware" --hotkey=f {
			fwsetup
		}
	fi
	if @ENABLE_VERIFY_CHECKSUMS@; then
		menuentry "Verifica integrita del supporto di avvio" --hotkey=v {
			linux	@KERNEL_LIVE@ boot=live @APPEND_LIVE@ findiso=${iso_path} verify-checksums
			initrd	@INITRD_LIVE@
		}
	fi
}
